* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: white;
    font-family: 'Lato', sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #0288d1;
    height: 50px;
    color: white;
}

header * {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBar {
    position: sticky;
    z-index: 2;
    top: 50px;
    height: 60px;
    background-color: white;
}

.menuBar>input {
    position: absolute;
    left: 0px;
}

.menuBar>button {
    position: absolute;
    right: 0px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.1em;
    margin: 0.5em;
}

.input {
    all: unset;
    margin: 10px;
    padding: 10px;
    border: 2px solid #f1f1f1;
    border-radius: 0.5em;
    text-align: left;
    background-color: white;
    width: 220px;
}

.inputFake {
    all: unset;
    margin: 10px;
    text-align: left;
    background-color: white;
}


/* === SCROLL BAR === */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #c7c7c7;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);
}


/* === TASK === */

.task {
    all: unset;
    display: block;
    margin: 5px;
    padding: 10px;
    border: 2px solid #ececec;
    border-radius: 0.5em;
    text-align: left;
    background-color: white;
    user-select: none;
    cursor: pointer;
}

.task:hover {
    transition: all ease-in-out 300ms;
    border-radius: 1.4em;
}

.subTask {
    background-color: #f3f3f398;
}

.inputSubTask {
    all: unset;
    margin: 10px;
    text-align: left;
}

.inputError::-webkit-input-placeholder {
    color: red;
}

.taskList {
    width: 50vw;
    margin: 0 auto;
}

.taskCompleted {
    all: unset;
    display: block;
    margin: 10px;
    padding: 7px;
    border: 2px solid gray;
    border-radius: 0.5em;
    text-align: left;
    background-color: #85e289;
}

.taskUncompleted {
    all: unset;
    display: block;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 0.5em;
    text-align: left;
    background-color: red;
}

.buttoner {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-top: 1em;
}

.buttoner * {
    margin-left: 10px;
}

button {
    all: unset;
    border: 2px solid #f1f1f1;
    /* background-color: #f6f6f6; */
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    width: 100px;
}

button.jscolor {
    border: 2px solid #f1f1f1 !important;
    color: white !important;
    margin: 10px;
    padding: 10px;
    border: 2px solid #f1f1f1;
    border-radius: 0.5em;
    background-color: #0288d1 !important;
}

.miembro-icon {
    width: 35px;
    height: 35px;
}


/* === VentanaDetalle === */

.vdcHeader {
    position: relative;
    display: flex;
    margin: 1em;
}

.vdcHeader :first-child {
    left: 0;
    width: 40%;
    text-align: left;
}

.vdcHeader :last-child {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.vdcContent {
    position: relative;
    display: flex;
    align-items: flex-start
}

.vdcContent> :first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.vdcContent> :first-child>div {
    position: relative;
    margin-bottom: 1em;
    width: 100%;
}

.vdcContent> :last-child {
    position: relative;
    width: 30%;
    margin-right: 1em;
}

.vdcContent> :last-child>* {
    position: absolute;
    right: 0;
}

#fechaCreacion {
    color: gray;
    margin-left: 1em;
}

#description {
    width: 100%;
}


/* Modal Content */

.ventanaDetalleOut {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.ventanaDetalleContent {
    background-color: #fefefe;
    margin: auto;
    border: 1px lightgray solid;
    border-radius: 1em;
    margin-top: 10vh;
    width: 80%;
    height: 80%;
}


/* === Listas === */

.list {
    position: relative;
    margin: 0.8em;
    background-color: #f6f6f6;
    border-radius: 1em;
    min-height: 40vh;
    max-height: 80vh;
}

.list>:nth-child(1) {
    height: 30px;
}

.list>:nth-child(2) {
    overflow: auto;
    overflow-x: hidden;
    max-height: 350px;
    margin-bottom: 30px;
}

.tasksList {
    min-height: 50vh;
    max-height: 80vh;
}

.listsSection {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    overflow: auto;
    top: 0;
    bottom: 0;
}

@media (max-width: 600px) {
    .listsSection {
        position: relative;
        min-height: 500px;
        display: flex;
        flex-flow: column;
    }
}